# Logs
logs
*.log

# Arquivos de ambiente
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de build
.next/
out/

# Dependências
node_modules/
package-lock.json

# Arquivos de cache
/.pnp
.pnp.js

# Arquivos de teste
/coverage/

# Arquivos gerados pelo IDE
/.vscode/
/.idea/

# Arquivos de configuração do editor
*.swp
*~

# Outros arquivos e diretórios específicos para o seu projeto

